___
# Fundamentals of Information Systems 21/22

## Python Programming (for Data Science)

### Master's Degree in Data Science

#### Fabio Giachelle

<a href="mailto:fabio.giachelle@unipd.it">fabio.giachelle@unipd.it</a><br/>
University of Padua, Italy<br/>
2021/2022<br/>
___
# Pandas  

http://pandas.pydata.org

Pandas is a package built on top of NumPy, and provides an efficient implementation of a ``DataFrame``.

``DataFrame``s are essentially multidimensional arrays supporting labels to reference rows and columns.
In addition, Pandas provides several facilities to interface with spreadsheet files (e.g. CSV, XLS, XLSX, ODT, etc.).
____

In [1]:
#import NumPy for a secondary use
import numpy as np

## Installing and Using Pandas

Since Pandas is built upon NumPy, it requires an installation of NumPy to work.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).
If you use the Anaconda stack, you already have Pandas installed.

Once Pandas is installed, you can import it and check the version:

In [2]:
import pandas
pandas.__version__

'1.3.4'

**Note**: As a convention, NumPy is referenced using the alias ``np``, whereas Pandas is generally referred with the alias ``pd``, as follows:

In [3]:
import pandas as pd

## Built-In Documentation

You can quickly explore the contents of a package by using the tab-completion feature or the question mark ``?`` character which shows the related documentation.

For example, to display all the contents of the pandas namespace, you can type

```ipython
In [3]: pd.<TAB>
```

And to display Pandas's built-in documentation, you can use this:

```ipython
In [4]: pd?
```

## The Pandas Series Object

A Pandas ``Series`` is a one-dimensional array of indexed data.
It can be created, for instance, from a list or array.

### Syntax

```python
>>> pd.Series(data, index=index)
```

where ``index`` is an optional argument, and ``data`` can be one of several types.

For instance, ``data`` can be a list or NumPy array, in which case ``index`` defaults to an integer sequence:

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

As we see in the output, the ``Series`` wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` and ``index`` attributes.
The ``values`` are simply a familiar NumPy array:

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The ``index`` is an array-like object of type ``pd.Index``.

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [7]:
data[1]

0.5

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

Pandas ``Series`` is much more general and flexible than the one-dimensional NumPy array.

### ``Series`` as generalized NumPy array

The main difference between Pandas ``Series``  and a NumPy array is the presence of the index: while the Numpy Array has a default integer index used to access the values, the Pandas ``Series`` has an *explicitly custom-defined* index associated with the values.

The ``Series`` index does not need to be an integer, but can be any desired type (e.g. strings).

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

We can use the string indexes to access the values of a Pandas ``Series``:

In [10]:
data['b']

0.5

We can even use non-contiguous or non-sequential indices:

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [12]:
data[5]

0.5

### Series as specialized dictionary

We can think of a Pandas ``Series`` as a specialization of a Python dictionary.
Thus, a ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

We can create a ``Series`` object directly from a Python dictionary:

In [13]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

By default, the index is created from the sorted keys.

In [20]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [21]:
population['California']

38332521

Unlike a dictionary, ``Series`` also supports array-like operations such as slicing:

In [23]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [24]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

``data`` can be a scalar, which is repeated to fill the specified index:

In [25]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

``data`` can be a dictionary, in which ``index`` keeps the order provided for the dictionary keys:

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'})
# pd.Series({'b':1, 'a':2, 'c':3})

2    a
1    b
3    c
dtype: object

In addition, the index can be explicitly set if a different result is preferred:

In [27]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

**Note**: in the case above, the ``Series`` is populated only with the explicitly identified keys.

## The Pandas DataFrame Object

Another fundamental structure in Pandas is the ``DataFrame``.

Like the ``Series`` object, the ``DataFrame`` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.

### DataFrame as a generalized NumPy array
A ``DataFrame`` is an analog of a two-dimensional array with both flexible row indices and flexible column names.
You can think of a ``DataFrame`` as a sequence of aligned ``Series`` objects.
Here, *aligned* means that they share the same index.

In [20]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now that we have this along with the ``population`` Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [21]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Like the ``Series`` object, the ``DataFrame`` has an ``index`` attribute that gives access to the index labels:

In [22]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [23]:
states.columns

Index(['population', 'area'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a general custom-defined index for accessing the data.

### DataFrame as specialized dictionary

A ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

In [24]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [25]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

### Constructing DataFrame objects

#### From a single Series object

A ``DataFrame`` is a collection of ``Series`` objects, and a single-column ``DataFrame`` can be constructed from a single ``Series``:

In [23]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

#### From a dict object
The same result can be achieved using the dict-like syntax:

In [27]:
pd.DataFrame({"population":population})

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [31]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
print(data)
df = pd.DataFrame(data, index=["A", "B", "C"])
df

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

   a  b
A  0  0
B  1  2
C  2  4

In [50]:
df.loc[['B','C']]

   a  b
B  1  2
C  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [25]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a dictionary of Series objects

A ``DataFrame`` can be constructed from a dictionary of ``Series`` objects as well:

In [26]:
pd.DataFrame({'population': population,
              'area': area})

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used.

In [33]:
np.random.seed(42)
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.374540  0.950714
b  0.731994  0.598658
c  0.156019  0.155995

In [35]:
np.random.seed(42)
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'])

        foo       bar
0  0.374540  0.950714
1  0.731994  0.598658
2  0.156019  0.155995

In [36]:
np.random.seed(42)
pd.DataFrame(np.random.rand(3, 2),
             index=['a', 'b', 'c'])

          0         1
a  0.374540  0.950714
b  0.731994  0.598658
c  0.156019  0.155995

## The Pandas Index Object

``Series`` and ``DataFrame`` objects contain an *index* that lets you reference and modify data.

We can create an index from a list of integers:

In [55]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [57]:
ind[1]

3

In [32]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [33]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are **immutable**, thus, they cannot be modified:

In [34]:
ind[1] = 0

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

### Index as ordered set

The ``Index`` object follows many of the conventions used by Python's built-in ``set`` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [91]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [93]:
# indA & indB  # Intersection using the '&' operator 
indA.intersection(indB) # Intersection using the intersection() method

Int64Index([3, 5, 7], dtype='int64')

In [96]:
# indA | indB  # Union using the '|' operator
indA.union(indB) # Union using the union() method

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [97]:
# indA ^ indB  # Symmetric difference using the '^' operator
indA.symmetric_difference(indB) # Symmetric difference using the '^' operator

Int64Index([1, 2, 9, 11], dtype='int64')

**Example**: keep only the elements of two DataFrames according to the intersection of two indexes

In [80]:
df1 = pd.DataFrame(np.random.rand(3, 2),
             index=['a', 'b', 'c'], columns = [0,1])
print(df1)

          0         1
a  0.058084  0.866176
b  0.601115  0.708073
c  0.020584  0.969910

In [81]:
df2 = pd.DataFrame(np.random.rand(3, 2),
             index=['b', 'c', 'd'], columns =[2,3])
print(df2)

          2         3
b  0.832443  0.212339
c  0.181825  0.183405
d  0.304242  0.524756

In [87]:
# If we concatenate df1 and df2 without taking the intersection of the indices, the result will be filled by NaN values.
df_concat = pd.concat([df1, df2], axis=1)
print(df_concat)

          0         1         2         3
a  0.058084  0.866176       NaN       NaN
b  0.601115  0.708073  0.832443  0.212339
c  0.020584  0.969910  0.181825  0.183405
d       NaN       NaN  0.304242  0.524756

In [100]:
# By default the concatenation between two DataFrames occurres on the axis=0, even in case of same index values.
index_intersection = df1.index.intersection(df2.index)
df_concat_1 = pd.concat([df1.loc[index_intersection], df2.loc[index_intersection]])
print(df_concat_1)

          0         1         2         3
b  0.601115  0.708073       NaN       NaN
c  0.020584  0.969910       NaN       NaN
b       NaN       NaN  0.832443  0.212339
c       NaN       NaN  0.181825  0.183405

In [99]:
# To solve the latter issue, it is necessary to concatenate on the axis=1
df_concat_2 = pd.concat([df1.loc[index_intersection], df2.loc[index_intersection]], axis=1)
print(df_concat_2)

          0         1         2         3
b  0.601115  0.708073  0.832443  0.212339
c  0.020584  0.969910  0.181825  0.183405

In [106]:
# Alternatively, we can specify the type of join (inner) to get the same result
df_concat_3 = pd.concat([df1, df2], axis=1, join='inner')
print(df_concat_3)

          0         1         2         3
b  0.601115  0.708073  0.832443  0.212339
c  0.020584  0.969910  0.181825  0.183405

# Data Indexing and Selection

## Data Selection in Series

### Series as dictionary

Like a dictionary, the ``Series`` object provides a mapping from a collection of keys to a collection of values:

In [110]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [111]:
data['b']

0.5

We can also use dictionary-like Python expressions and methods to examine the keys/indices and values:

In [112]:
'a' in data

True

In [113]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [114]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [115]:
# Series objects can even be modified with a dictionary-like syntax.
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

### Series as one-dimensional array

A ``Series`` builds on this dictionary-like interface and provides array-style item selection via the same basic mechanisms as NumPy arrays â€“ that is, *slices*, *masking*, and *fancy indexing*.
Examples of these are as follows:

In [70]:
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [71]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [67]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [116]:
# fancy indexing (i.e., passing an array of indices to access multiple array elements at once)
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64


**Note**: when slicing with an explicit index (i.e., ``data['a':'c']``), the final index is *included* in the slice, while when slicing with an implicit index (i.e., ``data[0:2]``), the final index is *excluded* from the slice.

### Indexers: loc, iloc, and ix

**Note**: if your ``Series`` has an explicit integer index, an indexing operation such as ``data[1]`` will use the explicit indices, while a slicing operation like ``data[1:3]`` will use the implicit Python-style index.

In [11]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [12]:
# explicit index when indexing
data[1]

'a'

In [13]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

The ``loc`` attribute allows indexing and slicing that always references the **explicit** index:

In [14]:
data.loc[1]

'a'

In [15]:
data.loc[1:3]

1    a
3    b
dtype: object

The ``iloc`` attribute allows indexing and slicing that always references the **implicit** Python-style index:

In [16]:
data.iloc[1]

'b'

In [17]:
data.iloc[1:3]

3    b
5    c
dtype: object

A third indexing attribute, ``ix``, is a hybrid of the two, and for ``Series`` objects is equivalent to standard ``[]``-based indexing.

## Data Selection in DataFrame

Recall that a ``DataFrame`` is like a dictionary of ``Series`` sharing the same index.

### DataFrame as a dictionary

#### Example

In [429]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})

The individual ``Series`` that make up the columns of the ``DataFrame`` can be accessed via dictionary-style indexing of the column name:

In [430]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Equivalently, we can use attribute-style access with column names that are strings:

In [431]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

This attribute-style column access actually accesses the exact same object as the dictionary-style access:

In [432]:
data.area is data['area']

True

**Note**: The attribute-style syntax does not work for all cases.
For instance, if the column names are not strings, or if the column names conflict with methods of the ``DataFrame``, this attribute-style access is not possible.
For example, the ``DataFrame`` has a ``pop()`` method, so ``data.pop`` will point to this rather than the ``"pop"`` column:

In [433]:
data.pop is data['pop']

False

In [434]:
# Create a new 'density' column from the division between two other columns: 'pop', 'area'
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### DataFrame as two-dimensional array

As mentioned previously, we can also view the ``DataFrame`` as an enhanced two-dimensional array.
We can examine the raw underlying data array using the ``values`` attribute:

In [127]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

Many familiar array-like operations can be done on ``DataFrame``s.
For example, we can transpose the full ``DataFrame`` to swap rows and columns:

In [128]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [129]:
# access the first row (area Serie)
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

Passing a single "index" to a ``DataFrame`` accesses a column:

In [134]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

For array-style indexing, Pandas uses the ``loc`` and ``iloc`` indexers.
Using the ``iloc`` indexer, we can index the underlying array as if it is a simple NumPy array (using the implicit Python-style index), but the ``DataFrame`` index and column labels are maintained in the result:

In [135]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

Similarly, using the ``loc`` indexer we can index the underlying data in an array-like style but using the explicit index and column names:

In [138]:
data.loc[:'Texas', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193

In [140]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [147]:
data.loc[['New York', 'Florida']]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

In [148]:
# Change density of California
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### Additional indexing conventions

There are a couple extra indexing conventions that might seem at odds with the preceding discussion, but nevertheless can be very useful in practice.
First, while *indexing* refers to columns, *slicing* refers to rows:

In [150]:
data['New York':'Illinois']

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

Such slices can also refer to rows by number rather than by index:

In [151]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

Similarly, direct masking operations are also interpreted row-wise rather than column-wise:

In [153]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

# Operating on Data in Pandas

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [239]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

Let's see what happens when we divide these to compute the population density:

In [240]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [241]:
area.index.union(population.index)

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In case of ``Series`` of different sizes, missing data are replaced by ``NaN``, or "Not a Number," which is how Pandas marks missing data. Any missing values are filled in with NaN by default.

In [242]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

The fill value can be modified using the add() function and the ``fill_value`` property.

In [243]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

### Index alignment in DataFrame

A similar type of alignment takes place for *both* columns and indices when performing operations on ``DataFrame``s:

In [286]:
from numpy.random import RandomState
rng = RandomState(42)
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))

In [287]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  7  4  6
1  9  2  6
2  7  4  3

In [288]:
A + B

      A     B   C
0  10.0  26.0 NaN
1  16.0  19.0 NaN
2   NaN   NaN NaN

Notice that indices are aligned correctly irrespective of their order in the two objects, and indices in the result are sorted.
As for``Series``, we can use any desired ``fill_value`` to be used in place of missing entries.
Here we'll fill with the mean of all values in ``A`` (computed by first stacking the rows of ``A``):

In [270]:
fill = A.stack().mean()
print(f"fill: {fill}")
A.add(B, fill_value=fill)

fill: 4.5

      A     B     C
0   1.0  15.0  13.5
1  13.0   6.0   4.5
2   6.5  13.5  10.5

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between a two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

In [340]:
A = rng.randint(10, size=(4, 4))
A

array([[7, 7, 2, 5],
       [4, 1, 7, 5],
       [1, 4, 0, 9],
       [5, 8, 0, 9]])

In [341]:
# Subtract the first row of the matrix A to every other row 
A - A[0]

array([[ 0,  0,  0,  0],
       [-3, -6,  5,  0],
       [-6, -3, -2,  4],
       [-2,  1, -2,  4]])

The subtraction is applied row-wise. We can obtain the same result using the ``iloc`` function.

In [342]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1 -3 -6  5  0
2 -6 -3 -2  4
3 -2  1 -2  4

If you would instead like to operate column-wise, you can use the object methods mentioned earlier, while specifying the ``axis`` keyword:

In [348]:
res = pd.Series(df['R'].values, index=list("QRST"))
print(res)
df.subtract(res, axis=1)
# df[['R','S']].stack()[:4].values()

Q    7
R    1
S    4
T    8
dtype: int64

   Q  R  S  T
0  0  6 -2 -3
1 -3  0  3 -3
2 -6  3 -4  1
3 -2  7 -4  1

### ``None``: Pythonic missing data

``None`` is a Python object used for missing data in Python code.
Because it is a Python object, ``None`` cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type ``'object'`` (i.e., arrays of Python objects):

In [349]:
import numpy as np
import pandas as pd

In [350]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

This ``dtype=object`` means that the best common type representation NumPy could infer for the contents of the array is that they are Python objects. 

**Note**: Operations performed on array with ``dtype=object`` are much slower than the ones where a different ``dtype`` is used.

### ``NaN``: Missing numerical data

``NaN`` (acronym for *Not a Number*) is a special floating-point value used to indicate missing numerical values.

In [351]:
vals2 = np.array([1, np.nan, 3, 4]) 
vals2.dtype

dtype('float64')

**Note**: NumPy chose a native floating-point type for this array: this means that unlike the object array from before, this array supports fast operations.

**Note**: Regardless of the operation, the result of arithmetic with ``NaN`` will be another ``NaN``.

In [6]:
1 + np.nan

nan

In [7]:
0 *  np.nan

nan

This implies that operations involving NaN values will produce NaN as a result in any case.

In [352]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

To tackle this issue, NumPy provides specific functions that ignore these missing values:

In [353]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

## Operating on Null Values

Pandas treats ``None`` and ``NaN`` as interchangeable for indicating missing or null values.
To facilitate this convention, there are several useful methods for detecting, removing, and replacing null values in Pandas data structures.
They are:

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled with other user-specified values

### Detecting null values
Pandas data structures have two useful methods for detecting null data: ``isnull()`` and ``notnull()``.
They return a Boolean mask over the data.

In [356]:
data = pd.Series([1, np.nan, 'hello', None])

In [357]:
# Get the Boolean mask for null values
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [358]:
# Get the Boolean mask for NOT null values
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [359]:
# Get the NOT null values (This is just a filter, it will not remove any null value from the original variable!)
data[data.notnull()]

0        1
2    hello
dtype: object

### Dropping null values

To remove null values, we can use:

- ``dropna()``: remove null values.
- ``fillna()``: fill (replace) null values with other user-specified values.

In [361]:
data.dropna()

0        1
2    hello
dtype: object

For a ``DataFrame``, the drop mechanism is quite different. We cannot drop single values from a ``DataFrame``; we can only drop full rows or full columns.

By default, ``dropna()`` will drop all rows in which *any* null value is present:

In [363]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [365]:
df.dropna() # Keeps only the 1-index row, since the others contain at least one NaN value

     0    1  2
1  2.0  3.0  5

Alternatively, you can drop NA values along a different axis; ``axis=1`` drops all columns containing a null value:

In [366]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

By default, ``dropna()`` will drop all rows in which *any* null value is present, but we can change this behaviour using ``how='all'``,  which will only drop rows/columns that are *all* null values.

In [367]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [368]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

For finer-grained control, the ``thresh`` parameter lets you specify a minimum number of non-null values for the row/column to be kept:

In [22]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

Here the first and last row have been dropped, because they contain only two non-null values.

### Filling null values

Instead of dropping null values, we can also replace them with a valid value (e.g. 0,1 or other).
To this aim, Pandas provides the ``fillna()`` method, which returns a copy of the array with the null values replaced with a valid value.

In [370]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [371]:
# Get the Boolean mask for null values
data.isnull()

a    False
b     True
c    False
d     True
e    False
dtype: bool

We can fill NA entries with a single value, such as zero:

In [373]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [375]:
# Get the Boolean mask for null values after the concatenation with fillna(0), which replaces the NaN values with zero.
data.fillna(0).isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool